* {text-indent:0px; margin:0px ; padding:0px ; border: 0px;}
p {text-align: justify}
hr{height: 1px; border: 0; color: #660000; background-color: #660000; width: 75%;}
h1 {padding: 10px 40px 20px 30px; font-size: 1.3em; color:red ; font-weight: bold ; text-decoration: underline ; text-align: center}
h2 {padding: 10px 40px 10px 30px; font-size: 1.1em; color:red ; font-weight: bold ; text-decoration: none; text-align: left}
h3 {padding: 10px 0px 5px 0px; font-size: 1.3em; color:red; text-decoration: none ; font-weight:normal; text-align: center}
h4 {padding: 5px 0px 0px 30px; color:#660000; text-align: left}
h5 {padding: 2px 0px 2px 0px}
h6 {color:#660000; padding: 0px 0px 20px 0px; font-size: 1em}
td {border-width:0px;border-style:solid;border-color:#666666;padding:5px 5px 5px 0px; text-align: center; font-family: "Times New Roman", Verdana, Arial;  font-size: 12px }
body {text-align: center; background: url("images/fondo3.jpg") white; background-attachment:fixed}
#global {width:1024px}
#cabecera {background-color: white; height:108px; border: 1px solid #660000}
#logotipo   {float: left; width:120px; padding-top: 20px; padding-left:5px; padding-right:8px;}
#cabanim {float: left; width:884px; margin-top:5px}
#navegacion {width:1024px; background-color: #660000; height:25px; font-family: "Comic Sans MS",arial,verdana;  font-size: 12pt}
#navegacion ul { margin-left: 40px }
#navegacion a {color: white; text-decoration: none; display: block}
#navegacion a:link {}
#navegacion a:visited {}
#navegacion a:hover {color: yellow;text-decoration: underline}
#navegacion a:active {}
#navegacion li {float:left; list-style:none; margin: 0px 15px 0px 15px }
#contenido {width:1022px; background:url("images/fondo.jpg") white; float:left; border: 1px solid #660000; //width:1024 /*PARA CORREGIR INTERNET EXPLORER*/}
#columnaI {float: left; width:125px}
#central {float: left; width:877px; margin: 10px; //width:849px /*PARA CORREGIR INTERNET EXPLORER*/}
#central p {text-indent: 20px; padding: 0px 30px 0px 30px; text-align: justify; color:#660000}
#pie {background-color: #660000; color: white; padding:0px 0px 0px 0px}
#pie a {color:white; text-decoration: underline}
#pie a:link {}
#pie a:visited {}
#pie a:hover {color: yellow;text-decoration: underline; background-color: #660000}
#menu a:active {}
#menu {background-color:#FFE7BA; width: 118px ; float:left; text-align: left;border: 1px solid #660000; margin:20px 0px 20px 7px;  font-family: "Comic Sans MS",arial,verdana;  font-size: 12pt}
#menu a {color:#660000; text-decoration: none; display: block}
#menu a:link {}
#menu a:visited {}
#menu a:hover {color: yellow;text-decoration: underline; background-color: #660000}
#menu a:active {}
#menu li {list-style:none; margin: 4px 4px 10px 6px}
#menu h1 {padding: 5px 0px 0px 5px; color:#660000; text-align: left; text-decoration: underline;}
#idiomas {width: 118px ;margin:0px 0px 0px 10px;}
#idiomas ul {margin-left: 0px; margin-top: 12px}
#idiomas li {float: left; list-style:none; padding: 0px 5px 0px 5px}
